.reserve{
    display: grid;
    gap: 65px 11%;
    grid-template-columns: 405px calc(89% - 405px);
    grid-template-areas: 
        "checks scheme"
        "order legend"; 
    width: 100%;
    @media @bw1340 {
      gap: 65px 6.5%;
      grid-template-columns: 340px calc(93.5% - 340px);
    }
    @media @bw1020 {

      gap: 60px;
      grid-template-columns: auto 390px;
      grid-template-areas: 
        "scheme scheme"
        "checks legend"
        "checks order"; 
    }
    @media @bw768 {
      grid-template-columns: 100%;
      grid-template-areas: 
        "scheme"
        "legend"
        "checks"
        "order"; 
    }

    &__checks {
        grid-area: checks;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        @media @bw1020 {
          justify-content: flex-start;
        }
    }
    &__scheme {
        grid-area: scheme;
        justify-items: center;
    }
    &__order {
        grid-area: order;
        @media @bw768 {
          display: flex;
          flex-direction: column;
        }
    }
    &__legend {
        grid-area: legend;
        justify-items: flex-end;
        @media @bw768 {
          justify-items: flex-start;
        }
    }
    &__scheme-wrapper {
        position: relative;
        width: 100%;

    &::after {
        content: "";
        display: block;
        width: 100%;
        padding-top: 51.15384%;
    }
  }

  &__scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__scheme-container{
    gap: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 780px;
    width: 100%;

  }
  &__scheme-title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 162px;
    height: 34px;
    background-color: @black;
    color: @white;
    border: none;
    font-family: @font1;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375;
  }
    &__tickets {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__qty {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375;
    @media @bw768 {
      font-size: 14px;
      line-height: 1.357;
    }
    &::after {
      content: " " attr(data-caption) " | " attr(data-price);
    }
  }

  &__sum {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.389;
    @media @bw1340 {
      font-size: 16px;
      line-height: 1.375;
    }
    &::after {
      content: attr(data-currency);
      margin-left: 4px;
      font-size: 0.95em;
    }
  }

  &__total {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.35;
    text-align: center;
    @media @bw768 {
      font-size: 18px;
      line-height: 1.389;
    }
    &::before {
      content: attr(data-caption);
      margin-right: 30px;
    }

    &::after {
      content: attr(data-currency);
      margin-left: 4px;
      font-size: 0.95em;
    }
  }
  &__tickets-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 20px 0 26px;
  }
  &__submit{
    margin-top: 53px;
    @media @bw768 {
      margin: 53px auto 0;
      width: 100%;
      max-width: 388px;
    }
  }
  &__tickets-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0 37px;
  }
  &__section-subtitle{
    color: @black;
    font-family: @font1;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.38;
  }
  &__dot{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 20px;
    align-items: flex-end;
  }

}
    