html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 147px;
}

.page-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    backdrop-filter: blur(20px);
    background-color: rgba(222, 222, 222, 0.5); 
}

.page-header_container{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.page-header_logo{
    width: 202px;
    height: 147px;
    font-size: 0;
    text-decoration: none;
    margin-right: auto;
}

.page-header_icon{
    width: 100%;
    height: 100%;
}

.page-header_nav{
    display: flex;
    gap: 50px;
}
.page-header_button{
    margin-left: auto;
}
.home_main-header{
    text-align: center;
    margin-top: 100.5px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.home_offers{
    text-align: center;
    margin-top: 100px;
}

.offers_buttons{
    display: flex;
    flex-direction: row;
    gap: 106px;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
}

.page-LENNI{
    width: 100%;
    height: auto;
}

.style-section{
    width: 624px;
    height: 62px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.about{
    text-align: center;
    margin-top: 200px;
}

.event{
    text-align: center;
    margin-top: 2057px;
}

.blog{
    text-align: center;
    margin-top: 1118px;
}

.contacts{
    text-align: center;
    margin-top: 1463px;
}

.main{
    flex: 1 0 auto;
    background-color: rgba(222, 222, 222, 1);
}

.page-footer{
    flex: 0 0 auto;
    background-color: rgba(222, 222, 222, 1);
    height: 455px;
}